@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth;
}
  
html, body {
  padding: 0;
  margin: 0;
  font-family: "Poppins",sans-serif;
}



@media screen and (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto; }
}
::-webkit-scrollbar-track{
  border-radius: 4px;
  background-color: #100c0f;
}
::-webkit-scrollbar{
  width: 8px;
  height: 6px;
  background-color: #100c0f;
}
::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: #685765;
}
 

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer components {
  h1 {
    @apply text-4xl md:text-5xl font-bold font-roboto
  }
  h2 {
    @apply text-3xl md:text-4xl font-bold font-roboto
  }
  h3 {
    @apply text-2xl md:text-3xl font-bold font-roboto
  }
  h4 {
    @apply text-xl md:text-2xl font-bold font-roboto
  }
  h5 {
    @apply text-base md:text-lg font-medium font-roboto
  }
  h6 {
    @apply text-base font-bold font-roboto 
  }

  
  h2[id], h3[id], h4[id], h5[id], h6[id]{
    @apply mt-8 mb-4
  }
  .docs-content h2[id], .docs-content h3[id], .docs-content h4[id], .docs-content h5[id], .docs-content h6[id] {
    @apply pt-[3rem]
  }
  .toc-content{
    @apply sticky top-8 max-h-[calc(100vh_-_8rem)]
  }
  .toc-list {
    @apply flex flex-col
  }
  .toc-list > li > .toc-list {
    @apply pl-4 text-sm
  }
  .toc-list > li > .toc-link {
    @apply text-base font-medium 
  }
  .toc-list > li > .toc-list .toc-link {
    @apply text-sm
  }
}
